:root {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
h1 {
    background-color: yellow;
    display: inline-block;
}
div#logo {
    width: 64px;
    height: 64px;
}
#logo img{
    width: 100%;
    height: 100%;
}